# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Dataset (trop lourd)
dataset/

# Model weights (très lourd)
*.pt

# YOLO runs
runs/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log